<div class="necklacewatch">
  <div>
    <button mat-raised-button (click)="logout()" class="logoutbutton">Kijelentkezés</button>
    <p class="welcome">Köszöntelek   {{nev}}</p>
  </div>
  <div class="feher">
    <button mat-raised-button  class="mainbutton" routerLink="/necklace">Nyakláncok</button>
    <img class="mainimg" src="../../assets/Images/necklacefrog.jpg">
  </div>
  <div class="feher">
    <button mat-raised-button routerLink="/watch" class="mainbutton">Karórák</button>
    <img class="mainimg" src="../../assets/Images/watchfrog.jpg">
  </div>
</div>
