html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.mainbutton{
  font-size: 1.5vw;
  width: 35vw;
  margin-top: 2vh;
  margin-right: 2vw;
}
.necklacewatch{
  text-align: center;
  background-color: beige;
  height: 100vh;
  display: flex;
}
.logoutbutton{
  margin-top: 2vh;
  font-size: 1vw;
}
.mainimg{
  display: block;
  margin-left: 3vw;
  width: 81%;
  border-radius: 3vw;
}
.feher{
  background-color: #f8f8f8;
}
.welcome{
  border-radius: 5px;
  color:white;
  font-weight: bold;
  background-color: black;
}
