.bal {
  margin-right: 50vw;
  width: 50vw;
  height: 100vh;
  float: left;
  background: url("../../assets/Images/PepeCool.png") no-repeat 6vw 30vh;
  background-size: 70%;
}
.jobb{
  background-color: black;
  position: absolute;
  float: right;
  margin-left: 50vw;
  width: 50vw;
  height: 100vh;
  color: #578e39;
  text-align: center;
}
.cim{
  font-size:5vw;
  font-family: Bebas;
  text-align: center;
}
button {
  display: block;
  margin-bottom: 2vh;
  margin-left: 49vh;
  width: 10vw;
  height: 5vh;
  font-size: 1vw;
}
p{
  display: block;
  margin-left: 8vw;
}
input{
  display: block;
  margin-bottom: 5vh;
  margin-left: 45vh;
  width: 5vw;
  height: 2vh;
}
.form__group{
  margin-top: 30vh;
}
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  height: 1vh;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 10vw;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
::placeholder {
  color: black;
  font-size:1vw;
}


