<div class="bal">
  <h1 class="cim" appHomePageDirective>PepeWelery</h1>
</div>
<div class="jobb">
  <form class="form__group" (ngSubmit)="onLoginPressed()">
    <div *ngIf="email.dirty" class="form-errors">
      <p *ngIf="email.hasError('required')">Az email megadása kötelező</p>
    </div>
    <input class="form__input" type="email" name="email" placeholder="Email" [formControl]="email">

    <div *ngIf="password.dirty" class="form-errors">
      <p *ngIf="password.hasError('required')">A jelszó megadása kötelező</p>
    </div>
    <input class="form__input" type="password" name="password" placeholder="Jelszó" [formControl]="password">

    <div *ngIf="errorMessage" class="form-errors">
      <p>{{ errorMessage }}</p>
    </div>
  </form>
  <button (click)="onLoginPressed()" class="custom-button" mat-raised-button>Bejelentkezés</button>
  <button mat-raised-button routerLink="register-page">Regisztráció</button>
</div>
<app-main-page id="none" [emailmutat]="emailmutat"></app-main-page>

