<div class="bal">
      <h1 class="reg">REGISZTRÁCIÓ</h1>
  <form (ngSubmit)="onRegisterPressed()" class="register-form">
    <mat-form-field appearance="fill">
      <mat-label>Teljes név</mat-label>
      <input matInput placeholder="Teljes név" name="fullname" type="fullname" [formControl]="fullname">
      <mat-error *ngIf="fullname.hasError('required')">A teljes név megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]="email">
      <mat-error *ngIf="email.hasError('required')">Az email megadása kötelező</mat-error>
      <mat-error *ngIf="email.hasError('exists')">Ez az email foglalt.</mat-error>
    </mat-form-field>

    <mat-form-field class="errors" appearance="fill">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" placeholder="Jelszó"  [formControl]="password">
      <mat-error *ngIf="password.hasError('required')">A jelszónak tartalmaznia kell nagybetűt, kisbetűt, számot és írásjelet</mat-error>
      <mat-error *ngIf="password.hasError('lowerCase')"></mat-error>
      <mat-error *ngIf="password.hasError('upperCase')"></mat-error>
      <mat-error *ngIf="password.hasError('number')"></mat-error>
      <mat-error *ngIf="password.hasError('specialChar')"></mat-error>
      <mat-error *ngIf="password.hasError('minlength')"></mat-error>
      <mat-error *ngIf="password.hasError('lessMoreSign')"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jelszó ismétlése</mat-label>
      <input matInput type="password" placeholder="Jelszó ismétlése"  [formControl]="passwordRepeat">
      <mat-error *ngIf="passwordRepeat.hasError('passwordMatch')">A jelszavak nem egyeznek</mat-error>
    </mat-form-field>

    <button mat-raised-button>Regisztráció</button>
    <button mat-raised-button routerLink="/">Mégse</button>
  </form>
</div>
<div class="jobb" appRegisterPageDirective>
  <h1 class="cim">PepeWelery</h1>
</div>
